<mat-toolbar class="header sticky">
        <i class="fa fa-code"></i>
        <h1>Florian Martin - BTS SIO </h1>
        <i class="fa fa-code"></i>
        <span class="fill-remaining-space"></span>
        <button mat-raised-button routerLinkActive="active" [routerLink]="['/accueil']">Accueil</button>
        <button mat-raised-button routerLinkActive="active" [routerLink]="['/profil']">Mon profil</button>
        <button mat-raised-button routerLinkActive="active" [routerLink]="['/second-tile']">Second tile</button>
        <button mat-raised-button routerLinkActive="active" [routerLink]="['/third-tile']">Third tile</button>
        <app-theme></app-theme>
</mat-toolbar>