<div class="profil">
  <div class="container">

    <!-- BIENVENUE -->
    <h2 class="bienvenue">Bienvenue</h2>
    <p class="contenu contenu-bienvenue">
      Ce portfolio a pour but de vous montrer les compétences que j'ai pu acquérir tout au long de ma formation.
      Aussi, vous y trouverez les fiches synthèses des différents projets en entreprise et pendant mes projets
      personnels et scolaires que j'ai pu réaliser. A travers ce portfolio, vous pourrez voir quels moyens j'emploie
      pour rester au courant des dernières nouveautés dans le domaine de l'informatique qui est en perpétuelle
      évolution.
    </p>

    <mat-divider></mat-divider>

    <!-- MON PROFIL -->
    <div class="mes-competences">
      <mat-icon>assignment_ind</mat-icon>
      <h2>Mon profil</h2>
    </div>
    <p class="contenu">
      Je suis actuellement en seconde année d'un BTS SIO option SLAM dans le but de devenir développeur.
      Après avoir obtenu une licence STAPS parcours entraînement sportif en 2017, j'ai travaillé au sein
      d'une salle de sport en tant que commercial/coach sportif/agent d'accueil. Etant passionné de sport
      depuis quelques années, je me suis énormément épanouie dans ce métier. Cependant, le domaine de
      l'informatique et des technologies m'a depuis toujours attiré et intéressé. C'est pour cela qu'en 2018,
      j'ai décidé de reprendre des études dans l'informatique dans le but d'en faire mon métier.
      Passionné par ce domaine, j'ai une soif d'apprentissage qui grandit au fur et à mesure des connaissances
      que j'acquiers dans ma formation et parallèlement au plaisir que je prends à coder.
    </p>
    <p class="cv">
      Vous pouvez retrouver mon CV ici.
    </p>

    <mat-divider></mat-divider>

    <!-- MES COMPETENCES -->
    <div class="mes-competences">
      <i class="fa fa-cog fa-spin"></i>  
      <h2 class="titre-competence">Mes compétences</h2>
    </div>
    <div class="competences">
      <!-- FRAMEWORKS -->
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Framework </mat-card-title>
          <mat-card-subtitle>Compétences frameworks</mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="divider-competence"></mat-divider>
        <mat-card-content>

          <!-- Angular -->
          <div class="detail-langage">
            <div mat-card-avatar class="angular"></div>
            <div class="description">
              <div>Angular</div>
              <div>IDE: Visual Studio Code</div>
              <div>Projet: Obso Tracker, Cassandia</div>
            </div>
          </div>

          <!-- SpringBoot -->
          <div class="detail-langage">
            <div mat-card-avatar class="springboot"></div>
            <div class="description">
              <div>SpringBoot</div>
              <div>IDE: IntelliJ</div>
              <div>Projet: Obso Tracker</div>
            </div>
          </div>

          <!-- Symfony -->
          <div class="detail-langage">
            <div mat-card-avatar class="symfony"></div>
            <div class="description">
              <div>Symfony</div>
              <div>IDE: Visual Studio Code</div>
              <div>TP: Création d'un site de voyage</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- SOFTWARE -->
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Software</mat-card-title>
          <mat-card-subtitle>Compétences software</mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="divider-competence"></mat-divider>
        <mat-card-content>

          <!-- Csharp -->
          <div class="detail-langage">
            <div mat-card-avatar class="csharp"></div>
            <div class="description">
              <div>C#</div>
              <div>IDE: Visual Studio</div>
              <div>TP: Jeu du pendu, mastermind</div>
            </div>
          </div>

          <!-- Java -->
          <div class="detail-langage">
            <div mat-card-avatar class="java"></div>
            <div class="description">
              <div>Java</div>
              <div>IDE: IntelliJ, Eclipse, Android Studio</div>
              <div>Projet: application Android GSB, Obso Tracker</div>
            </div>
          </div>

          <!-- C++ -->
          <div class="detail-langage">
            <div mat-card-avatar class="cplusplus"></div>
            <div class="description">
              <div class="description-cplusplus">C++</div>
              <div class="description-cplusplus-ide">IDE: Code Blocks</div>
            </div>
          </div>

          <!-- Python -->
          <div class="detail-langage">
            <div mat-card-avatar class="python"></div>
            <div class="description">
              <div class="description-python">Python</div>
              <div class="description-python-ide">PyCharm</div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- BDD -->
      <mat-card class="mat-elevation-z8">
        <mat-card-header>
          <mat-card-title>Base de données</mat-card-title>
          <mat-card-subtitle>Compétences en base de données</mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="divider-competence"></mat-divider>
        <mat-card-content>

          <!-- Mysql -->
          <div class="detail-langage">
            <div mat-card-avatar class="mysql"></div>
            <div class="description">
              <div class="description-mysql">MySQL</div>
            </div>
          </div>

          <!-- PostgreSQL -->
          <div class="detail-langage">
            <div mat-card-avatar class="postgresql"></div>
            <div class="description">
              <div class="description-postgresql">PostgreSQL</div>
            </div>
          </div>
        </mat-card-content>

        <!-- METHODES DE CONCEPTION -->
        <mat-card-header>
          <mat-card-title>Méthode de conception </mat-card-title>
        </mat-card-header>
        <mat-divider class="divider-competence"></mat-divider>
        <mat-card-content>
          <div class="detail-langage">
            <div class="description">
              <div class="description-merise">Merise/2</div>
            </div>
          </div>
          <div class="detail-langage">
            <div class="description">
              <div class="description-uml">UML</div>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
      <mat-card class="mat-elevation-z8"></mat-card>
    </div>

  </div>

</div>